<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>5B637673-A31C-3B5B-870D-1BDC59EFA9DF</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
